.header {
  width: 100%;
  height: 60px;
  background-color: var(--orange-color);
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 60px;
  padding: 1rem;
}

.nav__list-item {
  text-decoration: none;
}

li > a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-weight: 500;
  /* font-size: medium; */
}

li > a:hover {
  color: #c1c1c1;
}
